---
layout: default
overtitle: Keanu Engine
title: Secure communications for your communities
description: Secure communications for your communities
featured_image: /images/social.jpg
---

<div class="page-home">

	<section class="section-hero" style="background-image: url({{ site.data.settings.background_image | relative_url }})">

    <div class="container">
			<div class="row">

				<div class="col-lg-8">
					<div class="section-hero__txt pt-5">
						<h1> Giving you the power to bring people together.</h1>
						<p>Keanu engine offers app and web experiences that enable safe and secure communication among communities.</p>
						<a href="#" class="cta button--fill contact-trigger js-contact">Reach out</a>
					</div>
				</div>

			</div>
		</div>
	</section>


	<section class="sect models-block">
		<div class="container">

			<div class="row">
				<div class="col-sm-12">
					<div class="headline">
						<span class="headline__subtitle">Four app models</span>
						<h2 class="headline__title">Tailor a model for your community</h2>
				
					</div>
				</div>
			</div>

			<div class="row">

				<div class="col-md-6 col-lg-3">
					<div class="models-block__box">
						<img src="{{ '/images/icons/noun-gather.svg' | relative_url }}" alt="Convene" class="models-block__icon">
						<h5 class="models-block__title">Convene</h5>
						<p class="models-block__paragraph">Ephemeral, lightweight, encrypted group chat in a web browser.</p>
					</div>
				</div>


				<div class="col-md-6 col-lg-3">
					<div class="models-block__box">
						<img src="{{ '/images/icons/noun-circles.svg' | relative_url }}" alt="Circle" class="models-block__icon">
						<h5 class="models-block__title">Circle</h5>
						<p class="models-block__paragraph">A tight-knit experience to check-in and share your location with people you trust.</p>
					</div>
				</div>

				<div class="col-md-6 col-lg-3">
					<div class="models-block__box">
						<img src="{{ '/images/icons/noun-mic.svg' | relative_url }}" alt="Speak" class="models-block__icon">
						<h5 class="models-block__title">Speak</h5>
						<p class="models-block__paragraph">The power of voice at your fingertips with group podcasting & voice messaging.</p>
					</div>
				</div>

				<div class="col-md-6 col-lg-3">
					<div class="models-block__box">
						<img src="{{ '/images/icons/noun-chat.svg' | relative_url }}" alt="Chat" class="models-block__icon">
						<h5 class="models-block__title">Connect</h5>
						<p class="models-block__paragraph">A satisfying place to teach, work and talk with family and friends. </p>
					</div>
				</div>
			</div>


		</div>
	</section>


	<!-- CONVENE SECTION -->
	<section class="sect model-block">
		<div class="container">
			<div class="row">

				<div class="col-sm-12 col-lg-4">
					<div class="model-block__txt">
						<span class="model-block__name model-block__name--convene">Keanu convene</span>
						<h2>Convene</h2>
						<p>Click a link and you’re in. Ephemeral, lightweight, encrypted group chat in a web browser.</p>
						<a href="https://letsconvene.im" class="btn">Learn more</a>
					</div>
				</div>

				<div class="col-sm-12 col-lg-8">
					<div class="model-block__img">
						<img src="{{ 'images/convene.png' | relative_url }}" class="img-responsive" alt="Model for Community">
					</div>
				</div>


			</div>

			<div class="row block-images">

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/convene/easy_to_join.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Easy to Join</h6>
						<p>Click a link and you’re in a secure chat. No app or account required. No personal information requested.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/convene/place_to_connect.svg' | relative_url }}" alt="Keanu Engine">
						<h6>A Safe Place to Connect</h6>
						<p>Convene offers an end-to-end encrypted conversation that safeguards against physical and digital threats.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/convene/rooms_selfdestruct.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Rooms that Self Destruct</h6>
						<p>Convene makes it easy to delete all message history and close a room.</p>
					</div>
				</div>

			</div>

			<!-- Case study: Event hosts -->
			<div class="row case-study">

				<div class="col-sm-12 col-lg-5 pl-0 pr-0">
					<img src="{{ '/images/case_event_hosts.png' | relative_url }}" class="img-responsive" alt="Case Study">
				</div>

				<div class="col-sm-12 col-lg-7 py-5 d-lg-flex flex-lg-column justify-content-lg-between px-4">
					<div class="case-study__txt">
						<h5>Case study: Event hosts</h5>
						<p>Organizations can use this model to host temporary trainings or events with groups of any size. Check out our free, public version of this service at <a href="https://letsconvene.im">LetsConvene.im</a>.</p>
					</div>

					<div class="case-study__link">
<!--
						<a href="#">Tailor the Convene Model --></a>
					</div>
				</div>

			</div>
			<!-- End of Case study: Event hosts -->

		</div>
	</section>
	<!-- End of section convene -->



	<!-- Circle section -->
	<section class="sect model-block">
		<div class="container">
			<div class="row">

				<div class="col-sm-12 col-lg-4">
					<div class="model-block__txt">
						<span class="model-block__name model-block__name--circle">Keanu circle</span>
						<h2>Circle</h2>
						<p>Protect yourself with a circle of support. A tight-knit experience to check-in and share your location with people you trust.</p>
						<a href="https://encirculo.org/en/" class="btn">Learn more</a>
					</div>
				</div>

				<div class="col-sm-12 col-lg-8">
					<div class="model-block__img">
						<img src="{{ '/images/circle.png' | relative_url }}" class="img-responsive" alt="Model for Community">
					</div>
				</div>


			</div>

			<div class="row block-images">

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/circle/tight_knit_exp.svg' | relative_url }}" alt="Keanu Engine">
						<h6>A Tight-Knit Experience</h6>
						<p>Your circle can check-in with each other, provide support, and share updates all from one spot..</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/circle/secure_location.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Secure Location Sharing</h6>
						<p>Friends in your circle receive location updates through the app’s secure Matrix-based platform.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/circle/no_history.svg' | relative_url }}" alt="Keanu Engine">
						<h6>No History</h6>
						<p>What you see in the app is what you get. Nothing more is stored on servers.</p>
					</div>
				</div>

			</div>


			<!-- Case study: Women journalists -->
			<div class="row case-study">

				<div class="col-sm-12 col-lg-5 pl-0 pr-0">
					<img src="{{ '/images/case_women_journalists.png' | relative_url }}" class="img-responsive" alt="Case Study">
				</div>

				<div class="col-sm-12 col-lg-7 py-5 d-lg-flex flex-lg-column justify-content-lg-between px-4">
					<div class="case-study__txt">
						<h5>Case Study: Women Journalists</h5>
						<p>Women journalists in Mexico use Circulo to support each other as they face online harassment and violence in their work. Check out <a href="https://encirculo.org">encirculo.org</a>.</p>
					</div>

					<div class="case-study__link">
<!--
						<a href="#">Tailor the Circle Model --></a>
					</div>
				</div>

			</div>

			<!-- End of Case study: Women journalists -->
		</div>
	</section>

	<!-- End of circle section -->


	<!-- Speak section -->
	<section class="sect model-block">
		<div class="container">
			<div class="row">

				<div class="col-sm-12 col-lg-4">
					<div class="model-block__txt">
						<span class="model-block__name model-block__name--speak">Keanu speak</span>
						<h2>Speak</h2>
						<p>Express yourself. The power of voice at your fingertips with group podcasting & voice messaging.</p>
						<a href="#" class="btn">Learn more</a>
					</div>
				</div>

				<div class="col-sm-12 col-lg-8">
					<div class="model-block__img">
						<img src="{{ '/images/speak.png' | relative_url }}" class="img-responsive" alt="Model for Community">
					</div>
				</div>


			</div>


			<div class="row block-images">

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/speak/podcasts.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Podcasts & Audio Updates</h6>
						<p>Record voice notes or upload high quality pre-recorded audio. The app feature a seamless listening experience.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/speak/public_private.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Share Publicly or Privately</h6>
						<p>Want to go big? Share your podcast publicly. Want it to be private? Podcasts sent through the platform are always encrypted.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/speak/stickers.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Interact with Stickers & More</h6>
						<p>Who says security has to be boring? Interact with your friends using stickers and other media, all with encryption enabled.</p>
					</div>
				</div>

			</div>


			<!-- Case study: Teachers -->
			<div class="row case-study">

				<div class="col-sm-12 col-lg-5 pl-0 pr-0">
					<img src="{{ '/images/case_teachers.png' | relative_url }}" class="img-responsive" alt="Case Study">
				</div>

				<div class="col-sm-12 col-lg-7 py-5 d-lg-flex flex-lg-column justify-content-lg-between px-4">
					<div class="case-study__txt">
						<h5>Case study: Teachers</h5>
						<p>Teachers can use Keanu Speak to share lectures.</p>
					</div>

					<div class="case-study__link">
<!--
						<a href="#">Tailor the Speak Model --></a>
					</div>
				</div>

			</div>

			<!-- End of Case study: Teachers -->

		</div>
	</section>
	<!-- End of speak section -->

	<!-- Connect section -->
	<section class="sect model-block">
		<div class="container">
			<div class="row">

				<div class="col-sm-12 col-lg-4">
					<div class="model-block__txt">
						<span class="model-block__name model-block__name--connect">Keanu connect</span>
						<h2>Connect</h2>
						<p>Stay connected. A satisfying place to teach, work and talk with family and friends.</p>
						<a href="#" class="btn">Learn more</a>
					</div>
				</div>

				<div class="col-sm-12 col-lg-8">
					<div class="model-block__img">
						<img src=" {{ '/images/connect.png' | relative_url }}" class="img-responsive" alt="Model for Community">
					</div>
				</div>


			</div>

			<div class="row block-images">

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/connect/personal_fun.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Personalized & Fun</h6>
						<p>Enjoy a personalized experience with theming, custom group settings and custom stickers packs.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/connect/share_news_posts.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Share News Stories or Posts</h6>
						<p>Copy links to news articles to share the full content securely or create your own blog posts to share privately.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/connect/minimal_footprint.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Minimal Data Footprint</h6>
						<p>Lightweight and mindful of its size, the app carefully handles media to store locally only what you need when you need it.</p>
					</div>
				</div>

			</div>

			<!-- Case study: Exile communities -->
			<div class="row case-study">

				<div class="col-sm-12 col-lg-5 pl-0 pr-0">
					<img src="{{ '/images/case_exile_communities.png' | relative_url }}" class="img-responsive" alt="Case Study">
				</div>

				<div class="col-sm-12 col-lg-7 py-5 d-lg-flex flex-lg-column justify-content-lg-between px-4">
					<div class="case-study__txt">
						<h5>Case Study: Exile Communties</h5>
						<p>Connect on a day-to-day basis with family, friends and colleagues. Safely share news, exchange voice messages and more!</p>
					</div>

					<div class="case-study__link">
<!--
						<a href="#">Tailor the Connect Model --></a>
					</div>
				</div>

			</div>

			<!-- End of Case study: Exile communities -->

		</div>
	</section>

<!-- Section privacy block -->
	<section class="privacy-block sect">
		<div class="container">
			<div class="row">

				<div class="col-sm-12">
          <img src="{{ '/images/icons/security-handshake.svg' | relative_url }}" alt="Security and privacy" class="mb-4">
					<h1 class="mb-4">Security & privacy are our foundation</h1>
					<a href="/security.html" class="cta button--fill button--fill--red">5 Things to Know</a>
				</div>


			</div>
		</div>
	</section>

	<!-- End of privacy block -->


	<!-- Section call to action  -->
		<section class="sect call-action">
			<div class="container">
				<div class="row">

					<div class="col-sm-12">
						<div class="headline">
							<h2 class="headline__title">Make it your own.</h2>
							<p class="mt-3">Contact us to get started. We’ll work with you to customize, brand and deploy an instance of any model.</p>
							<a href="#" class="cta button--fill contact-trigger js-contact mt-2">Reach out</a>
						</div>
					</div>

				</div>
			</div>
		</section>
	<!--End of section call to action  -->

</div>
