---
layout: default
overtitle: Keanu Engine
title: Secure communications for your communities
description: Secure communications for your communities
featured_image: /images/social.jpg
---


<div class="page-secondary">

<!-- Secondary hero section -->
	<section class="secondary-hero"> 
		<div class="container">

					<div class="secondary-hero__txt">
						<h1>5 Things to Know</h1>
					</div>

		</div>
	</section>
<!-- End of secondary section -->

<!-- Sections with titles and images -->

<!-- SECTION -->
	<section class="sect">
		<div class="container">

<!-- Titles -->
			<div class="row">

				<div class="col-sm-12">
					
					<div class="headline">
            <span class="headline__number">1</span>
						<span class="headline__subtitle">Privacy centric</span>
						<h2 class="headline__title">Crafted with respect</h2>
						<p class="px-5">The apps create places where you can be you with no strings attached—no personal phone numbers or email addresses are required.</p>
					</div>

				</div>

			</div>

			<!-- Blocks with images and texts -->
			<div class="row block-images">

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/qr.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Free to Be You</h6>
						<p>You are represented by an account ID and QR code. Connect with people in seconds simply by clicking a link or scanning a code.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/scissors.svg' | relative_url }}" alt="Keanu Engine">
						<h6>No Strings Attached</h6>
						<p>No email or phone number is required to join. You can connect your email to help remember passwords, but it’s not required.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/data_mining.svg' | relative_url }}" alt="Keanu Engine">
						<h6>No Data Mining</h6>
						<p>The apps don’t mine for user data. Rather, to learn from users, apps offer a privacy preserving way to learn from users what you need to.</p>
					</div>
				</div>

			</div>

		</div>
	</section>


	<!-- SECTION -->
	<section class="sect">
		<div class="container">

<!-- Titles -->
			<div class="row">

				<div class="col-sm-12">
					
					<div class="headline">
            <span class="headline__number">2</span>
						<span class="headline__subtitle">HIGH STANDARDS  </span>
						<h2 class="headline__title">Serious about security</h2>
						<p class="px-5">Keanu is designed to ensure the safety of each individual. Dive into the details of our secure setup for the apps on our <a href="#">security documentation.</a></p>
					</div>

				</div>

			</div>

			<!-- Blocks with images and texts -->
			<div class="row block-images">

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/encrypt.svg' | relative_url }}" alt="Keanu Engine">
						<h6>End-to-End Encryption</h6>
						<p>Keanu is built on the <a href="https://matrix.org">Matrix protocol</a>, an open network for secure, decentralized communication. Matrix’s state-of-the-art end-to-end encryption offers security on the device and in transit.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/infrastructure.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Secure Infrastructure</h6>
						<p>The Keanu team has experience deploying on Amazon Web Services, which is ISO certified for Cloud Security and Data Protection. The team can also work in other environments offering a secure infrastructure.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/open.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Open & Accountable</h6>
						<p>Keanu is open source code under GNU Affero General Public License (AGPL v3.0). Regular security audits and updates ensure that security standards are upheld. </p>
					</div>
				</div>

			</div>

		</div>
	</section>


	<section class="sect">
		<div class="container">

<!-- Titles -->
			<div class="row">

				<div class="col-sm-12">
					
					<div class="headline">
            <span class="headline__number">3</span>
						<span class="headline__subtitle">SAFETY FIRST</span>
						<h2 class="headline__title">Enhances physical safety</h2>
						<p class="px-5">Holistic digital security considers users’ experience in their physical environment as well as their digital.</p>
					</div>

				</div>

			</div>

			<!-- Blocks with images and texts -->
			<div class="row block-images">

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/camo.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Camo</h6>
						<p>Swap out the app icon for something else. Camo gives users the power to disguise.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/wipe.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Wipe</h6>
						<p>Easily wipe messages or all of the information from an app with one tap. Panic also gives users the power to make an app self destruct.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/lock.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Lock</h6>
						<p>For an extra layer of physical device security, users can add a password to the app itself. Auto-lock ensures that the app is locked when it’s not being used.</p>
					</div>
				</div>

			</div>

		</div>
	</section>

	<!-- SECTION -->
	<section class="sect">
		<div class="container">

<!-- Titles -->
			<div class="row">

				<div class="col-sm-12">
					
					<div class="headline">
            <span class="headline__number">4</span>
						<span class="headline__subtitle">UX + Security</span>
						<h2 class="headline__title">Mindful of concerns</h2>
						<p class="px-5">Each experience is carefully crafted to consider users’ behaviors and the threats they may be vulnerable to.</p>
					</div>

				</div>

			</div>

			<!-- Blocks with images and texts -->
			<div class="row block-images">

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/safe_space.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Safe Spaces</h6>
						<p>Apps feature easy to join groups with workflows to ensure privacy. Learn more about privacy in semi-private groups.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/trust.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Trusted Relationships</h6>
						<p>Real identities aren’t linked. The apps deploy various methods for users to be confident that the people they are connected with are, in fact, whom they expect.</p>
					</div>
				</div>

				<div class="col-sm-12 col-md-4">
					<div class="block-images__box">
						<img src="{{ '/images/icons/security_page/share.svg' | relative_url }}" alt="Keanu Engine">
						<h6>Confident Sharing</h6>
						<p>It’s always clear with whom you’re sharing with. Location shares happen only when the user asks. Apps don’t continue to access user location without permission.</p>
					</div>
				</div>

			</div>

		</div>
	</section>


<!-- End of s ections with titles and images -->


<section class="sect">

	<div class="container-fluid">

		<div class="row">

			<div class="col-sm-12">
					
				<div class="headline">
          <span class="headline__number">5</span>
					<span class="headline__subtitle">TRUE TO OUR VALUES</span>
					<h2 class="headline__title">Rights centered</h2>
					<p class="px-5 mb-4">The Keanu team aims to uphold the dignity of humankind. Learn more about the team at Guardian Project—People and code you can trust.</p>
					<a href="https://guardianproject.info" class="btn">Meet guardian project</a>
				</div>

			</div>

		</div>

	</div>

</section>


	<!-- Section call to action  -->
	<section class="sect call-action">
		<div class="container">
			<div class="row">

				<div class="col-sm-12">
					<div class="headline">
						<h2 class="headline__title">Make it your own.</h2>
						<p class="mt-3">Contact us to get started. We’ll work with you to customize, brand and deploy an instance of any model.</p>
						<a href="#" class="cta button--fill contact-trigger js-contact mt-2">Reach out</a>
					</div>
				</div>

			</div>
		</div>
	</section>
<!--End of section call to action  -->

</div>
