<section class="contact">
  <button class="button--close-modal"></button>

  <div class="wrap">
    <div class="contact__wrap">
      <header class="contact__header">
        <h2 class="title">Get In Touch</h2>
        <p class="subtitle--light">Prefer using email? Say hi at <a
            href="mailto: {{ site.data.settings.contact_settings.email_address }}">{{ site.data.settings.contact_settings.email_address }}</a>
        </p>
        <p class="subtitle--light">You can also find out how to reach us through Matrix, PGP and other secure channels on the <a href="https://guardianproject.info/contact">Guardian Project contact page</a></p>
      </header>

      <form method="POST" action="{{ site.data.settings.contact_settings.form_action }}" class="contact__form">
        <div class="input-group">
          <label for="name">Your Name</label>
          <input type="text" name="name" id="name" placeholder="What should I call you?" />
        </div>

        <div class="input-group">
          <label for="email">Your Email</label>
          <input type="email" name="email" id="email" placeholder="What's your email address?" />
        </div>

        <div class="input-group">
          <label for="message">Your Message</label>
          <textarea name="message" id="message" placeholder="What’s on your mind?" rows="4"></textarea>
        </div>

        <input type="hidden" name="_next" value="{{ site.data.settings.contact_settings.confirmation_url }}" />
        <input type="hidden" name="_subject" value="{{ site.data.settings.contact_settings.email_subject }}" />
        <input type="text" name="_gotcha" style="display: none;" class="contact-form__gotcha" val="">

        <div class="input-submit">
          <input type="submit" class="button--fill" value="{{ site.data.settings.contact_settings.send_button_text }}">
        </div>
      </form>
    </div>
  </div>
</section>
